<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @rate.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @rate.user %>
</p>

<p>
  <strong>Book:</strong>
  <%= @rate.book %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
